<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="header">
      <h1>Uh oh! You fell into a hole. Game over. 
      <h1>Click here to go back to the main menu, %name%</h1>
      <a href="/">Main menu</a>
    </div>
    <div class="inv">
        <h2>Inventory</h2>
        <ul>
            <li>%item%</li>
            <li>%item2%</li>
            <li>%item3%</li>
        </ul>
    </div>
  </body>
</html>
