<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="header">
      <h1>Congratulations! You have found an item: Umbrella</h1>
      <h1>Choose a move, %name%</h1>
    </div>
    <div class="mid">
        <a href="/9"><img src="west.png"></a>
        <a href="/3"><img src="east.png"></a>
    </div>
    <div class="bot">
        <a href="/1"><img src="south.png"></a>
    </div>
    <div class="inv">
        <h2>Inventory</h2>
        <ul>
            <li>%item%</li>
            <li>%item2%</li>
            <li>%item3%</li>
        </ul>
    </div>
  </body>
</html>
