<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="header">
      <h1>Welcome to Escape the Rooms!</h1>
    </div>
    <div class="mid">

    </div>
    <div class="bot">
      <form action="/" method="post">
        <label for="name">Enter name: </label>
        <input id="name" type="text" name="name" value="Fred Johnson">
        <input type="submit" value="OK">
      </form>
    </div>
  </body>
</html>
